.sidebar {
    background-color:$color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large){
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: start;
        align-items: center
    }
}

.nav-btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;
    @media only screen and (max-width: $bp-large){
        margin-top: 0; 
        margin-left: 3rem;
    }
    &::before,
    &::after {
        content:"";
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        display: block;
    }

    &::before {
        transform: translateY(-1.5rem);
    }

    &::after {
        transform: translateY(1.3rem);
    }

    &:focus {
        outline: none;
        }

        @media only screen and (max-width: $bp-large){
            margin-top: 0; 
            margin-left: 3rem;
            &::before {
                transform: translateY(-1.2rem);
            }
        
            &::after {
                transform: translateY(1rem); 
            }
        }
}